.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}


.contact button {
  width: 100%;
}

.contact input, .contact textarea {
  width: 100%;
  padding: 0;
  border: none;
  height: 25px;
  margin: 10px;
  text-align: center;
  background-color: #212121;
  border-bottom: solid 1px #484848;
  color: #FFF;
  outline: none;
}

.errorMessage {
  color: red;
  font-size: 14px;
}