.projectContainer {
  background-color: #212121;
  color: #FFF;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

.projectContainer section {
  width: 90%;
  margin-left: 5%;
}

.projectContainer h2 {
  margin-top: 0;
  color: #FFF;
  text-align: center;
}

.projectContainer a:visited {
  color: white;
}

@media (min-width: 768px) {
  .projectContainer {
    width: 60%;
    margin-left: 20%;
  }

  .projectContainer img {
    width: 60%;
    height: 300px;
    object-fit: contain;
    margin-left: 20%;
    margin-bottom: 20px;
  }
}