.portfolio h2 {
  margin-bottom: 15px;
  text-align: center;
}

.projects {
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  
  .portfolio h2 {
    margin-bottom: 30px;
  }
  
  .projects {
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}